body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px 0; /* Ajustamos el relleno para eliminar cualquier espacio en blanco */
    box-sizing: border-box;
}

.sidebar {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar img {
    width: 100%;
    border-radius: 10px;
}

.sidebar h1 {
    font-size: 24px;
    margin-top: 10px;
}

.sidebar p {
    color: #777;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li span {
    font-weight: bold;
}

.sidebar ul li i {
    margin-right: 10px;
    color: #FFD700;
}

.sidebar a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
}

.content .nav {
    display: flex;
    justify-content: flex-end; /* Alineamos los elementos del nav a la derecha */
    align-items: center;
    background-color: #FFD700;
    padding: 10px 20px;
    border-radius: 5px;
    width: 95; /* Ancho del 100% */
}

.nav-buttons {
    display: flex;
}

.nav-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 10px;
}

.nav-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.content .nav > div {
    flex-grow: 1;
}

.content .nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.content .nav a i {
    margin-right: 5px;
}

.content .nav .hire-me {
    background-color: #fff;
    color: #FFD700;
    padding: 10px 20px;
    border-radius: 5px;
}

.content h2 {
    margin-top: 20px;
}

.content .about,
.content .services {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.services .service {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.services .service div {
    flex: 1;
    padding: 0px;
}

.services .service div:not(:last-child) {
    border-right: 1px solid #eee;
}

.services .service i {
    font-size: 40px;
    color: #FFD700;
    margin-bottom: 10px;
}